ul {
	list-style-type: none;
	padding-left: 0;
}

li {
	vertical-align: middle;
}

input {
	border: 0;
	font-size: large;
	width: 8em;
}

button {
	width: 1.5em;
	height: 1em;
	border: 0;
	font-size: 1em;
	font-weight: bold;
	line-height: 1em;
	box-shadow: .2em .2em .5em rgba(180, 180, 180, .5);
	opacity: .6;
}
button:hover {
	opacity: 1;
}
button:first-child {
	background-color: red;
}
button:nth-child(2) {
	background-color: green;
}