ul {
	list-style-type: none;
	padding-left: 0;
}
button {
	width: 7em;
	margin-right: 1em;
	border: none;
	font-size: 1em;
	background-color: yellow;
	box-shadow: .2em .2em .5em rgba(180, 180, 180, .5);
	opacity: .6;
}
button:hover {
	opacity: 1;
}

small {
	font-size: .75em;
}